{% extends 'base.html' %}
{% block content %}
  <div id="user-comment-box"></div>
  <div id="response-box">
    <h1 id="aituber-response">
      test<br>
    </h1>
  </div>
  <div id="question-box">
    <h2 id="question-from-user">
      <form method="get" id="form" onsubmit="return false;">
        아이디 :
        <input type="text" name="" id="user"><br>
        코멘트 :
        <input type="text" name="" id="comment"><br>
        <button id="send">전송</button>
      </form>
      <br>
      <form method="get" class="start_form" onsubmit="return false;">
        비디오ID :
        <input type="text" name="" class="video_id">
        <button class="start_live">방송 시작</button>
      </form>
    </h2>
  </div>
{% endblock %}
