<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}YanGpt Aituber{% endblock %}
    </title>
    {% load static %}
    {% load sass_tags %}
    <link href="https://webfontworld.github.io/NexonMaplestory/NexonMaplestory.css" rel="stylesheet">
    <link type="text/css" href="{% sass_src 'css/common.scss' %}" rel="stylesheet"/>
    <script src="{% static 'js/apikey.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
  </head>

  <body>
    {% block content %}{% endblock %}
    {% block extra-script %}{% endblock %}
  </body>

</html>
